* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

hr {
    width: 80%;
    height: 1px;
    background-color: purple;
    margin: 10px;
}

/* p {
    margin: 0;
} */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(198, 195, 195);
}

/* First style the sidebar */
.sidebar {
    display: grid;
    gap: 30px;
    background-color: lightgreen;
    grid-template-rows: 0.5fr 3fr 1fr 2fr;
}

.top,
.middle,
.bottom {
    display: grid;
    justify-content: center ;
    align-items: center;
    grid-template-columns: 2fr 4fr;
    gap: 10px;
    background-color: lightgreen;
}

.top img,
.middle img,
.bottom img {
    justify-self: end;
    align-self: center;
}

.top h2,
.middle span,
.bottom span {
    justify-self: start;
}

/* Next style the header */
.header {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}

.search-bar img {
    justify-self: end;
}

.my-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.title img,
.user img {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.actions button {
    border: none;
    border-radius: 90px;
    background-color: skyblue;
}

/* Next style the projects section */
.projects {
    display: grid;
    grid-template-columns: 4fr 2fr;
    margin: 20px;
    gap: 20px;
}

.project-lists {
    display: grid;
    grid-row: 1 / 3; 
}

.project-lists > span {
    padding-left: 25px;
}

.all-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    height: 150px;
    /* width: 250px; */
    background-color: whitesmoke;
    border-left: 5px solid orange;
    border-radius: 5px;
    padding: 10px;
}

.writing {
    display: grid;
    align-items: center;
}

.icons {
    justify-self: end;
    align-self: center;
}

.announcements {
    grid-row: 1 / 2;
    display: grid;
}

.sections {
    display: grid;
    gap: 15px;
}

.section-news, 
.section-trends {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 3px 3px 5px grey;
}

.trending {
    display: grid;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: start;
}