* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #E9e2d8;
}

hr {
    width: 80%;
    height: 1px;
    background-color: purple;
    margin: 10px;
}

img {
    border-radius: 50%;
}

svg {
    height: 25px;
    width: 25px;
    fill: #c7cdbf;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

/* First style the sidebar */
.sidebar {
    display: grid;
    gap: 30px;
    background-color: #728c69;
    grid-template-rows: 0.5fr 3fr 1fr 2fr;
    /* color: white; */
}

.top,
.middle,
.bottom {
    display: grid;
    justify-content: center ;
    align-items: center;
    grid-template-columns: 2fr 4fr;
    gap: 10px;
}

.top svg,
.middle svg,
.bottom svg {
    justify-self: end;
    align-self: center;
}

.top h2,
.middle span,
.bottom span {
    justify-self: start;
}

.main {
    display: grid;
}

/* Next style the header */
.header {
    background-color: #c7cdbf;
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding-right: 20px;
    align-items: center;
}

input[type="search"] {
    background-color: #E9e2d8;
    border: none;
    border-radius: 90px;
    padding: 5px;
}

.search-bar img {
    justify-self: end;
}

.my-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    gap: 5px;
}
 .my-profile svg {
    fill: #cb7a5c;
    /* justify-self: end; */
 }

 .my-profile p {
    font-size: small;
 }

.title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 10px;
}

.title img + span {
    justify-self: start;
    align-self: end;
}

.title img,
.user img {
    grid-row: 1 / 3;
    justify-self: end;
    align-self: center;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.actions button {
    border: none;
    border-radius: 90px;
    background-color: #728c69;
    width: 100px;
    height: 25px;
}

/* Next style the projects section */
.projects {
    display: grid;
    grid-template-columns: 4fr 2fr;
    padding: 20px;
    column-gap: 20px;
    background-color: #E9e2d8;
}

.project-lists {
    display: grid;
    grid-row: 1 / 3; 
    align-items: start;
}

.all-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    /* height: 150px; */
    background-color: #c7cdbf;
    border-left: 5px solid #cb7a5c;
    border-radius: 5px;
    padding: 10px;
}

.writing {
    display: grid;
    align-items: center;
}

.icons {
    justify-self: end;
    align-self: center;
}

.announcements {
    grid-row: 1 / 2;
    display: grid;
}

.sections {
    display: grid;
    gap: 15px;
}

.section-news, 
.section-trends {
    display: grid;
    align-items: center;
    background-color: #c7cdbf;
    border: none;
    border-radius: 5px;
    row-gap: 10px;
    padding: 20px;
    box-shadow: 3px 3px 5px grey;
}

.trending {
    display: grid;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    font-size: small;
}

.user img {
    justify-self: center;
}